{
	"root": true,
	"env": {
		"browser": true,
		"node": true,
		"es2022": true
	},
	"extends": [
		"eslint:recommended",
		"plugin:vue/vue3-recommended",
		"plugin:@typescript-eslint/recommended"
	],
	"overrides": [
		{
			"files": [
				"*.vue"
			],
			"rules": {
				"indent": "off"
			}
		},
		{
			"files": [
				"*.json"
			],
			"rules": {
				"indent": [
					"error",
					"tab"
				],
				"quotes": [
					"error",
					"double"
				],
				"semi": [
					"error",
					"never"
				]
			}
		}
	],
	"parser": "vue-eslint-parser",
	"parserOptions": {
		"parser": {
			"js": "espree",
			"ts": "@typescript-eslint/parser",
			"<template>": "espree"
		},
		"sourceType": "module"
	},
	"plugins": [
		"vue",
		"@typescript-eslint"
	],
	"rules": {
		"@typescript-eslint/consistent-type-definitions": "off",
		"@typescript-eslint/prefer-function-type": "off",
		"arrow-parens": [
			"error",
			"always"
		],
		"comma-dangle": [
			"error",
			"never"
		],
		"key-spacing": "error",
		"object-curly-spacing": [
			"error",
			"always"
		],
		"indent": [
			"warn",
			2
		],
		"quotes": [
			"error",
			"single"
		],
		"semi": [
			"error",
			"always"
		],
		"space-infix-ops": "error",
		"vue/define-props-declaration": [
			"error",
			"type-based"
		],
		"vue/define-emits-declaration": [
			"error",
			"type-based"
		],
		"vue/require-default-prop": "off",
		"vue/script-indent": [
			"warn",
			2
		],
		"vue/v-for-delimiter-style": [
			"error",
			"in"
		]
	}
}
